/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/coverage
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.composer/
.phpunit.result.cache
.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig
.ssh/
.vim/
.viminfo
.zshrc
/.idea
#/.vscode
